/* 
* global.css
*
* Place any imports, or custom CSS in this file.
*
*/
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Font handling */
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@font-face {
  font-family: "Oswald";
  src: url("../../public/fonts/Oswald/Oswald-VariableFont_wght.ttf");
  src: url("../../public/fonts/Oswald/static/Oswald-Bold.ttf");
  src: url("../../public/fonts/Oswald/static/Oswald-SemiBold.ttf");
  src: url("../../public/fonts/Oswald/static/Oswald-Light.ttf");
  src: url("../../public/fonts/Oswald/static/Oswald-ExtraLight.ttf");
  src: url("../../public/fonts/Oswald/static/Oswald-Medium.ttf");
  src: url("../../public/fonts/Oswald/static/Oswald-Regular.ttf");
}

